appdirs==1.4.4
furo==2023.03.27
ipython>=7.0.0
myst_parser==1.0.0
myst_parser==1.0.0
nbsphinx==0.9.1
numpy>=1.20.0
py21cmemu>=1.0.0
scipy>=1.7.0
sphinx>=5.2.0
sphinx-click>=4.4.0
tensorflow>=2.6.0
toml==0.10.2
